li {
    list-style-type: none;
}
ul {
    margin: 0rem;
}
* {
    font-family: 'Comfortaa', cursive;
}
body {
    background-color: rgb(199, 199, 255);
}
p {
    margin: 0rem;
}
main > div > a {
    border: 2px solid black;
    height: 400px;
    width: 25%;
    border-radius: 0.3rem;
}
main > div > a :hover {
    transform: scale3d(1.03, 1.03, 1.03);
    animation-duration: 0.3s;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(83, 83, 253);
    text-decoration: solid;
}

nav {
    height: 85px;
    border-bottom: 2px solid black;
    font-size: 1.3rem;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    min-width: 100%;
    background-color: rgb(199, 199, 255);
}
main {
    min-height: 46rem;
    padding: 5rem;
}
footer {
    min-height: 50px;
    border: 2px solid black;
}
footer > div > ul {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
}
.socialIcons {
    font-size: 1.2rem;
}
.socialIcons:hover {
    transform: scale(1.3);
    color: white;
}
.navCards {
    font-size: 1.5rem;
}
.navCardsImage {
    height: 13rem;
    width: 13rem;
}
.contentParent {
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.contentParent > div {
    border: 2px solid black;
    width: 20%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutme {
    border: 2px solid black;
    min-height: 20rem;
    font-size: 1.1rem;
    width: 100%;
}
.aboutme:first-child {
    border-bottom: 2px solid black;
}
.skillCards > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border: 1px solid black;
    font-size: 4rem;
}
.skillCards > div:hover {
    background-color: black;
    color: white;
    animation-duration: 1s;
}
.projectCard {
    min-height: 20rem;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
}
.projectCard h5 {
    font-size: 1.4rem;
    font-weight: 600;
}
.projectButton {
    border: 2px solid black;
    width: 10%;
    background-color: rgb(137, 137, 253);
}
.projectButton:hover {
    transform: scale(1.2);
    background-color: rgb(83, 83, 253);
}
.downloadLink {
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    background-color: rgb(199, 199, 255);
    border: 0.15rem solid black;
    border-radius: 0.2rem;
    color: black;
}
.downloadLink:hover {
    background-color: rgb(137, 137, 253);
    color: whitesmoke;
}
.resumePage img {
    width: 80%;
}
.sidebarIcon {
    display: none;
}
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    width: 25rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.651);
    border-radius: 0.5rem;
    min-height: 15rem;
    padding: 2rem;
    right: 0;
    z-index: 100;
    font-size: 1.4rem;
}
.sidebar div {
    border-bottom: 2px solid black;
}
.sidebar ul {
    margin: 0rem;
    padding: 1rem 0rem;
}
.sidebar li {
    padding: 0.5rem;
    font-size: 1.2rem;
}
.sidebar li:hover {
    background-color: #bebebe86;
}
nav > button {
    background-color: rgb(137, 137, 253);
    border: none;
    font-size: 2rem;
}
.navbarLinks {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}
.navbarLinks > li > a:hover {
    color: black;
    border-bottom: 4px solid rgb(153, 153, 253);
    animation-duration: 0.3s;
}
.scroll-to-top {
    position: fixed;
    bottom: 0;
    margin: 30px;
    color: white;
    cursor: pointer;
    right: 0;
    background-color: rgb(137, 137, 253);
    border-radius: 0.5rem;
    padding: 0.75rem;
    z-index: 100;
}
.scroll-to-top:hover {
    background-color: rgb(79, 79, 255);
}
@media (max-width: 768px) {
    .sidebarIcon {
        display: flex;
    }
    .navbarLinks {
        display: none;
    }
    .projectCard {
        padding: 3rem 0rem;
        gap: 2rem;
    }
    footer > div > ul {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem 0rem;
    }
    main {
        padding: 4rem;
    }
    nav {
        font-size: 1.3rem;
        justify-content: space-between;
    }
    .resumePage img {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .sidebar {
        width: 100%;
    }
}
